---
layout: page
title: Conventions
subtitle: "Timeline of convention attendance."
permalink: /conventions
redirect_from:
  - /cons
---

<div class="conventions container text-center">
  {% assign today_seconds = 'now' | date: '%s' | plus: 0 %} {% assign
  sorted_cons = site.data.conventions | sort: 'start_date' %} {% assign
  past_cons = "" | split: "" %} {% assign future_cons = "" | split: "" %} {%
  assign up_next = nil %} {% for con in sorted_cons %} {% assign end_seconds =
  con.end_date | date: '%s' | plus: 86400 %} {% if end_seconds < today_seconds
  %} {% assign past_cons = past_cons | push: con %} {% elsif up_next == nil %}
  {% assign up_next = con %} {% else %} {% assign future_cons = future_cons |
  push: con %} {% endif %} {% endfor %} {% if up_next %}
  <h3>Up Next</h3>
  <h5 id="countdown"><span id="days"></span> day<span id="plural">s</span></h5>

  {% assign start_m = up_next.start_date | date: "%B" %} {% assign end_m =
  up_next.end_date | date: "%B" %} {% assign start_d = up_next.start_date |
  date: "%-d" %} {% assign end_d = up_next.end_date | date: "%-d" %}

  <p>
    <a href="{{ up_next.url }}">{{ up_next.name }}</a> &bull; {% if start_m ==
    end_m %}{{ start_m }} {{ start_d }}-{{ end_d }}{% else %}{{ start_m }} {{
    start_d }}-{{ end_m }} {{ end_d }}{% endif %} &bull; {{ up_next.location }}
    {{ up_next.emoji }}
  </p>
  {% endif %} {% if future_cons.size > 0 %}
  <h3 class="gmt">Future</h3>
  {% assign current_future_year = "" %} {% for con in future_cons %} {% assign
  con_year = con.start_date | date: "%Y" %} {% if con_year !=
  current_future_year %}
  <h5>{{ con_year }}</h5>
  {% assign current_future_year = con_year %} {% endif %} {% assign start_m =
  con.start_date | date: "%B" %} {% assign end_m = con.end_date | date: "%B" %}
  {% assign start_d = con.start_date | date: "%-d" %} {% assign end_d =
  con.end_date | date: "%-d" %}

  <p>
    <a href="{{ con.url }}">{{ con.name }}</a> &bull; {% if start_m == end_m
    %}{{ start_m }} {{ start_d }}-{{ end_d }}{% else %}{{ start_m }} {{ start_d
    }}-{{ end_m }} {{ end_d }}{% endif %} &bull; {{ con.location }} {{ con.emoji
    }}
  </p>
  {% endfor %} {% endif %} {% if past_cons.size > 0 %}
  <h3 class="gmt">Past</h3>
  {% assign past_cons_reversed = past_cons | reverse %} {% assign
  current_past_year = "" %} {% for con in past_cons_reversed %} {% assign
  con_year = con.start_date | date: "%Y" %} {% if con_year != current_past_year
  %}
  <h5>{{ con_year }}</h5>
  {% assign current_past_year = con_year %} {% endif %} {% assign start_m =
  con.start_date | date: "%B" %} {% assign end_m = con.end_date | date: "%B" %}
  {% assign start_d = con.start_date | date: "%-d" %} {% assign end_d =
  con.end_date | date: "%-d" %}

  <p>
    <a href="{{ con.url }}">{{ con.name }}</a> &bull; {% if start_m == end_m
    %}{{ start_m }} {{ start_d }}-{{ end_d }}{% else %}{{ start_m }} {{ start_d
    }}-{{ end_m }} {{ end_d }}{% endif %} &bull; {{ con.location }} {{ con.emoji
    }}
  </p>
  {% endfor %} {% endif %}
</div>

{% if up_next %}
<script>
  var conventionDate = new Date("{{ up_next.start_date | date: '%m/%d/%Y' }}");
  var today = new Date();

  today.setHours(0, 0, 0, 0);
  conventionDate.setHours(0, 0, 0, 0);

  var difference = conventionDate.getTime() - today.getTime();
  var days = Math.ceil(difference / (1000 * 3600 * 24));

  if (days > 0) {
    document.getElementById("days").innerText = days;
    if (days === 1) {
      document.getElementById("plural").innerText = "";
    } else {
      document.getElementById("plural").innerText = "s";
    }
  } else {
    document.getElementById("countdown").innerText = "Now";
  }
</script>
{% endif %}
