---
layout: page
title: Pokémon GO
subtitle: "Pokédex, medals &amp; more."
permalink: /pokemon-go
xp: 21100000
---

<link rel="stylesheet" href="/pokemon.css" />

{% assign xp = page.xp | times: 100 | divided_by: 176000000 | round %} {% assign
all_pokemon = site.data.pokemon %} {% assign caught_pokemon = all_pokemon |
where: "caught", true %} {% assign dex = caught_pokemon.size | times: 100 |
divided_by: all_pokemon.size | round %}

<div class="container">
  <div class="progress" style="height: 38px; margin-bottom: 12px">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: {{ xp }}%;"
      aria-valuenow="{{ xp }}"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      XP - {{ xp }}% (40/50)
    </div>
  </div>
  <div class="progress" style="height: 38px">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: {{ dex }}%;"
      aria-valuenow="{{ dex }}"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Pokédex - {{ dex }}% ({{ caught_pokemon.size }}/{{ all_pokemon.size }})
    </div>
  </div>
  <div class="text-center gmt" style="margin-bottom: 12px">
    <label
      style="height: 38px; line-height: 38px; vertical-align: middle; margin: 0"
      >Show
    </label>
    <div class="dropdown" style="display: inline-block !important">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="filter-caught"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        all
      </button>
      <div
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="filter-caught"
      >
        <a
          class="dropdown-item"
          href="#"
          onclick="
            window.location.hash = 'all';
            return false;
          "
          >all</a
        >
        <a
          class="dropdown-item"
          href="#"
          onclick="
            window.location.hash = 'caught';
            return false;
          "
          >caught</a
        >
        <a
          class="dropdown-item"
          href="#"
          onclick="
            window.location.hash = 'uncaught';
            return false;
          "
          >uncaught</a
        >
      </div>
    </div>

    <label
      style="height: 38px; line-height: 38px; vertical-align: middle; margin: 0"
    >
      pokémon.</label
    >
  </div>

  <div class="pokemon">
    <h3>Pokédex</h3>
    <div class="grid grid-pokemon">
      {% for pokemon in site.data.pokemon %}
      <div class="{% if pokemon.caught %}c{% else %}n{% endif %}">
        <span class="pokemon-icon pokemon-{{ pokemon.id }}"></span>
        <span class="pokemon-text"
          >{{ pokemon.name }}<br />#{{ pokemon.id }}</span
        >
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="pokemon pokemon-medals gmt">
    <h3>Medals</h3>
    <div class="grid grid-pokemon">
      {% for medals in site.data.medals %} {% for medal in medals[1] %}
      <div>
        {% if medal[1].rank %}
        <img
          src="/node_modules/pokemon-medals/{{ medals[0] }}/{{ medal[1].rank }}/{{ medal[0] }}"
          alt="{{ medal[1].title }}"
          class="pokemon-medal"
        />
        {% else %}
        <img
          src="/node_modules/pokemon-medals/{{ medals[0] }}/{{ medal[0] }}"
          alt="{{ medal[1].title }}"
          class="pokemon-medal"
        />
        {% endif %}
        <span class="pokemon-text">{{ medal[1].title }}</span>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
</div>

<div class="container gmt text-center">
  <small
    >Icons by <a href="https://github.com/PokeAPI/sprites">PokeAPI</a>.</small
  >
</div>

<script>
  window.addEventListener("hashchange", fn, false);
  window.onload = fn;

  function fn() {
    // Remove the # and get the string
    var hash = window.location.hash.replace("#", "");

    // Default to 'all' if empty or invalid
    if (hash != "caught" && hash != "uncaught") {
      hash = "all";
    }

    filter_all(hash);
  }

  function filter_all(caughtStatus) {
    $("#filter-caught").html(" " + caughtStatus + " ");

    var $all = $(".grid-pokemon > div");
    var $caught = $(".c");
    var $notCaught = $(".n");

    if (caughtStatus == "all") {
      $all.show();
    } else if (caughtStatus == "caught") {
      $all.hide();
      $caught.show();
    } else if (caughtStatus == "uncaught") {
      $all.hide();
      $notCaught.show();
    }
  }
</script>
