<!doctype html>
<html lang="en" style="background: #121212; color: #fff; overflow: hidden;">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/main.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js" defer></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="/node_modules/twemoji/dist/twemoji.min.js" defer></script>
    <script>$(document).ready(function () { document.body = twemoji.parse(document.body, {folder: 'svg', ext: '.svg'}); });</script>
  </head>
  <body style="background: url('/stream/certified.webp') fixed bottom right no-repeat; background-size: contain;">
    <div class="row h-100">
      <div class="col-6 mt-auto mb-auto">
        <div class="container-fluid py-5">
          <h1 class="display-1 fw-bold">{{ page.title }}</h1>
          <h3 class="display-3">{{ page.subtitle }}</h3>
          <ul style="list-style: none; font-size: 2rem; display: none;">
            <li>
              https://kovu.dog
            </li>
            <li>
              <div class="d-inline-block" style="background-color: #e4405f; border-radius: 100%; width: 4rem; height: 4rem;">
                <img src="/node_modules/simple-icons/icons/instagram.svg" alt="Instagram" class="w-75 h-75 m-auto" style="filter: invert(1);">
              </div>
              KovuTheHusky
            </li>
            <li>
              <div class="d-inline-block" style="background-color: #000; border-radius: 100%; width: 4rem; height: 4rem;">
                <img src="/node_modules/simple-icons/icons/tiktok.svg" alt="TikTok" class="w-75 h-75 m-auto" style="filter: invert(1);">
              </div>
              KovuTheHusky
            </li>
            <li>
              <div class="d-inline-block" style="background-color: #1da1f2; border-radius: 100%; width: 4rem; height: 4rem; padding: 1rem;">
                <img src="/node_modules/simple-icons/icons/twitter.svg" alt="Twitter" class="w-100 h-100" style="filter: invert(1);">
              </div>
              KovuTheHusky
            </li>
            <li>
              <div class="d-inline-block" style="background-color: #f00; border-radius: 100%; width: 4rem; height: 4rem; padding: 1rem;">
                <img src="/node_modules/simple-icons/icons/youtube.svg" alt="YouTube" class="w-100 h-100" style="filter: invert(1);">
              </div>
              KovuTheHusky
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
