<!doctype html>
<html lang="en" style="background: #121212; color: #fff; overflow: hidden">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/main.css" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script
      src="/node_modules/@popperjs/core/dist/umd/popper.min.js"
      defer
    ></script>
    <script
      src="/node_modules/bootstrap/dist/js/bootstrap.min.js"
      defer
    ></script>
    <script src="/node_modules/twemoji/dist/twemoji.min.js" defer></script>
    <script>
      $(document).ready(function () {
        document.body = twemoji.parse(document.body, {
          folder: "svg",
          ext: ".svg",
        });
      });
    </script>
  </head>
  <body
    style="
      background: url(&quot;/stream/certified.webp&quot;) fixed bottom right
        no-repeat;
      background-size: contain;
    "
  >
    <div class="row h-100">
      <div class="col-1"></div>
      <div class="col-5 mt-auto mb-auto">
        <div class="container-fluid py-5">
          <h1 class="display-1 fw-bold">{{ page.title }}</h1>
          <h3 class="display-3">{{ page.subtitle }}</h3>
        </div>
      </div>
    </div>
  </body>
</html>
