name: Build
on:
  push:
    branches:
      - "**"
      - "!main"
  pull_request:
    branches: "**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          # cache: "bun"
      - run: bun install
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: gem install bundler
      - run: bundle install
      # - run: ./icons.sh
      - run: ruby pokemongo.rb
      - run: curl -X GET "https://status.kovu.dog/projects.json" > _data/projects.json
      - run: bundle exec jekyll build
      - run: |
          chmod -c -R +rX "_site/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
